.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
button {
  margin-right: 5px;
  /* color: seagreen;
  border: 2px solid skyblue; */
}

.btn-group {
  /* margin: 5px 10px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px;
}
.btn {
  /* background: black;
  border: none;
  font-size: 16px;
  border-radius: 2px;
  width: 100px;
  /* height: 40px; */
  /* text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
  text-decoration: none;
  font-weight: bold;
  color: snow; */ 
  
}
/* .btn:hover {
  color: mediumturquoise;
  box-shadow: 2px 2px 2px grey;
} */
.active {
  /* color: aqua; */
  /* border-bottom: 2px solid aqua; */
  -webkit-animation: mymove 1s infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes mymove {
  from {border-bottom: 3px solid hotpink;}
  to {border-bottom: 3px solid aqua;}
}

li {
  margin-right: 5px;
}
.btn-container {
  display: flex;
}
#import {
  padding: 5px;
  font-size: 12px;
  height: 30px;
  width: 70px;
}
.records {
  width: 500px;
  display: flex;
  border: 2px solid skyblue;
  padding: 5px 2px;
  margin: 5px 0px;
  /* justify-content: space-around; */


}
.rec-container {
  display: flex;
}
ul {
  list-style: none;
}
li {
  margin-right: 10px;
}
.recLabel {
  font-weight: bold;
  color: orange;
  margin-left: 7px; 
}
.row {
  background: lightblue;
}
.row div {
  padding: 20px 10px;
  border: 1px solid;
}
.record {
  display: block;
  margin: 20px auto;
  width: 60%;
  padding: 10px;
  /* border: 2px solid grey; */
  box-shadow: 2px 2px 2px grey;
  /* color: rgb(65, 58, 58); */
  /* display: flex; */
  /* margin-bottom: 20px; */
  /* background-color: rgb(238, 225, 225) */

}
.passContainer {
  border-bottom: 2px solid black;
  /* background-color: black; */
  /* margin: 10px; */
  padding-bottom: 3px;

}
.pass {
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
  /* border-bottom:2px solid rgb(32, 30, 30); */
}
.title {
  color: rgb(57, 81, 216);
  text-align: center;

}